In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.2-cp311-cp311-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\rbu_hackthon\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\rbu_hackthon\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.6 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.6 MB 1.7 MB/s eta 0:00:07
   ---- ----------------------------------- 1.3/11.6 MB 1.6 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/11.6 MB 1.8 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.6 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.6 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.6 MB 1.5 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/11.6 MB 1.5 MB/s eta 0:00:06
   ---------- ----------------------------- 3.1/11.6 MB 1.6 MB/s eta 0:00:06
   ---------- ----------------------------- 3.1/11.6 MB 1.6 MB/s eta 0:00:06
   ------------- -------------------------- 3.9/11.6 MB 1.6 MB/s eta 0:00:05
   -------------- ------------------------- 4.2/11.6 MB 1.6 MB/s eta 0:00:05
   ---------------- ----------------------- 4.7/11.6 MB 1.7 MB/s eta 0:00:05
   ------------------ --------------------- 5.2/11.6 MB 1.7 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 6.0/11.6 MB 1.7 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.6 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 6.8/11.6 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 7.6/11.6 MB 1.9 MB/s eta 0:00:03
   --------------------------- ------------ 8.1/11.6 MB 1.9 MB/s eta 0:00:02
   ----------------------------- ---------- 8.7/11.6 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.6 MB 2.0 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.6 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.6 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.1 MB/s eta 0:00:00
Downloading numpy-2.1.2-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.9 MB 2.8 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/12.9 MB 1.8 MB/s eta 0:00:07
   ---- ----------------------------------- 1.6/12.9 MB 2.6 MB/s eta 0:00:05
   ------ --------------------------------- 2.1/12.9 MB 2.6 MB/s eta 0:00:05
   -------- ------------------------------- 2.6/12.9 MB 2.8 MB/s eta 0:00:04
   ----------- ---------------------------- 3.7/12.9 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 4.2/12.9 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 5.2/12.9 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 5.8/12.9 MB 3.3 MB/s eta 0:00:03
   --------------------- ------------------ 6.8/12.9 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.9 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 9.4/12.9 MB 3.9 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 11.8/12.9 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  12.8/12.9 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 4.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd

# Read data from data.csv file
data = pd.read_csv('weatherAUS.csv')

data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [4]:
# Select the required columns
selected_data = data[['Date', 'Location', 'MinTemp', 'MaxTemp', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'RainToday', 'RainTomorrow']]

selected_data

,Date,Location,MinTemp,MaxTemp,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,20.0,24.0,71.0,22.0,No,No
1,2008-12-02,Albury,7.4,25.1,4.0,22.0,44.0,25.0,No,No
2,2008-12-03,Albury,12.9,25.7,19.0,26.0,38.0,30.0,No,No
3,2008-12-04,Albury,9.2,28.0,11.0,9.0,45.0,16.0,No,No
4,2008-12-05,Albury,17.5,32.3,7.0,20.0,82.0,33.0,No,No
...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,13.0,11.0,51.0,24.0,No,No
145456,2017-06-22,Uluru,3.6,25.3,13.0,9.0,56.0,21.0,No,No
145457,2017-06-23,Uluru,5.4,26.9,9.0,9.0,53.0,24.0,No,No
145458,2017-06-24,Uluru,7.8,27.0,13.0,7.0,51.0,24.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,17.0,17.0,62.0,36.0,No,NaN

In [5]:
# Calculate the averages
selected_data['Temp'] = selected_data[['MinTemp', 'MaxTemp']].mean(axis=1)
selected_data['WindSpeed'] = selected_data[['WindSpeed9am', 'WindSpeed3pm']].mean(axis=1)
selected_data['Humidity'] = selected_data[['Humidity9am', 'Humidity3pm']].mean(axis=1)

# Select final columns to save in new CSV
final_data = selected_data[['Date', 'Location', 'Temp', 'WindSpeed', 'Humidity', 'RainToday', 'RainTomorrow']]

final_data

C:\Users\User\AppData\Local\Temp\ipykernel_6108\2715679901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['Temp'] = selected_data[['MinTemp', 'MaxTemp']].mean(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_6108\2715679901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['WindSpeed'] = selected_data[['WindSpeed9am', 'WindSpeed3pm']].mean(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_6108\2715679901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['Humidity'] = selected_data[['Humidity9am', 'Humidity3pm']].mean(axis=1)

              Date Location   Temp  WindSpeed  Humidity RainToday RainTomorrow
0       2008-12-01   Albury  18.15       22.0      46.5        No           No
1       2008-12-02   Albury  16.25       13.0      34.5        No           No
2       2008-12-03   Albury  19.30       22.5      34.0        No           No
3       2008-12-04   Albury  18.60       10.0      30.5        No           No
4       2008-12-05   Albury  24.90       13.5      57.5        No           No
...            ...      ...    ...        ...       ...       ...          ...
145455  2017-06-21    Uluru  13.10       12.0      37.5        No           No
145456  2017-06-22    Uluru  14.45       11.0      38.5        No           No
145457  2017-06-23    Uluru  16.15        9.0      38.5        No           No
145458  2017-06-24    Uluru  17.40       10.0      37.5        No           No
145459  2017-06-25    Uluru  14.90       17.0      49.0        No          NaN

[145460 rows x 7 columns]

In [6]:
# Save the result to a new CSV file
final_data.to_csv('processed_weather_data.csv', index=False)

print("Averaged data saved to 'processed_weather_data.csv'")

Averaged data saved to 'processed_weather_data.csv'